* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background: hsl(30, 54%, 90%);
  font-family: "Outfit";
}

/* Start Layout */

.sectionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2300px;
}

.recipeBox {
  height: auto;
  background: hsl(0, 0%, 100%);
  width: 735px;
  border-radius: 1rem;
}
/* End Layout */

.recipeHeader {
  padding: 2.1rem 2.1rem 0 2.1rem;
}

.recipeHeader-content {
  padding: 0 2.1rem 0 2.1rem;
}

.recipeHeader-content p {
  color: hsl(30, 10%, 34%);
}

.recipeHeader-content h1 {
  align-self: flex-start;
  font-size: 2.2rem;
  font-family: "Young Serif";
  font-weight: lighter;
}

.recipeHeader img {
  width: 100%;
  border-radius: 0.9rem;
}

.recipePreparation {
  align-self: flex-start;
  background: hsl(330, 100%, 98%);
  border: 1px solid transparent;
  border-radius: 0.9rem;
  width: 100%;
  margin-top: 2rem;
}

.recipePreparation h4 {
  margin-top: 3%;
  margin-left: 3%;
  font-size: 1.4rem;
  color: hsl(332, 51%, 32%);
}

.recipePreparation ul {
  margin-left: 0.5%;
  color: hsl(332, 51%, 32%);
}

.recipePreparation ul {
  padding-bottom: 3%;
}

.recipePreparation li {
  padding-left: 2%;
}

.recipePreparation li span {
  color: hsl(30, 10%, 34%);
  font-weight: bold;
}

.recipePreparation li span:nth-of-type(2) {
  font-weight: normal;
}

.topicHead {
  font-size: 1.7rem;
  font-family: "Young Serif";
  margin-bottom: 1.5rem;
  color: hsl(14, 45%, 36%);
}

.recipeMain-content {
  padding: 0 2.1rem 0 2.1rem;
}

.recipeFooter {
  height: 100%;
  padding: 0 2.1rem 0 2.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.attribution {
  align-self: center;
  margin-top: 5%;
}

.attribution a {
  text-decoration: none;
}

.recipeIngredients {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-bottom: 4%;
}

.recipeIngredients ul {
  padding-left: 1.4rem;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.recipeIngredients ul span {
  font-weight: normal;
  color: hsl(30, 10%, 34%);
}

.recipeIngredients li {
  padding-left: 1.1rem;
  font-size: 1rem;
}

.recipeInstructions li {
  padding-left: 1rem;
  width: 95%;
}

.recipeInstructions {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-bottom: 4%;
}

.recipeInstructions ol {
  padding-left: 1.4rem;
  font-size: 1rem;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.recipeInstructions ol span {
  color: hsl(30, 10%, 34%);
  font-weight: normal;
}

.recipeFooter-flex-table {
  display: flex;
  margin: 0;
}

.recipeFooter-flex-table ul {
  display: block;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.recipeFooter-flex-table span {
  margin-left: 10%;
}

.recipeFooter-flex-table span:nth-of-type(1),
p {
  color: hsl(30, 10%, 34%);
}

.recipeFooter-flex-table li {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-top: 5%;
  padding-bottom: 5%;
}

.recipeFooter-flex-table li:nth-of-type(1) {
  padding-top: 0;
}

.recipeFooter-flex-table li:nth-of-type(4) {
  border: 0;
}

.recipeFooter-flex-table ul:nth-of-type(2) li span {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

@media screen and (max-width: 720px) {
  .recipeBox {
    height: 100%;
  }
}

@media screen and (max-width: 519px) {
  .sectionBox {
    height: auto;
  }

  .recipeHeader {
    padding: 0;
  }

  .recipeHeader img {
    border-radius: 0;
  }

  .recipePreparation h4 {
    padding-top: 4%;
    padding-left: 4%;
  }
}
